* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
    display: inline-block;
    box-sizing: content-box;
    flex-direction: row;
}

.album_card {
    border: 1px black solid;
    border-radius: 10 px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 10px gray;
}

.album_buttons {
    display: flex;
    flex-direction: row;
}