* {
    font-family: 'Permanent Marker', cursive;
}

#head {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.256);

}

#board {
    padding: 40px;
    background-image: url(board.jpg);
    background-size: contain;

}

#container {
    display: flex;
    display: inline-block;
    box-sizing: content-box;
    flex-direction: row;
}

.album_card {
    width: 200px;
    height: auto;
    border-radius: 10 px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 10px gray;
    background-image: url(note.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.album_buttons {
    align-self: center;
}