{% extends "base.html" %}
{% block content %}
<a href="{% url 'list_albums' %}">Return to Albums Page</a>

<div>
    <h1> {{album}} -
        {% for artist in album.artists.all %}
        {{artist}}</h1>
    {% endfor %}
    <div>
        <p>Added to database on: {{album.added_to_database_at}}</p>
    </div>
</div>
<div>
    {% if album in favorite_albums %}
    <p> <a href="{% url 'undo_favorite' pk=album.pk %}"> &#11088; Undo Favorite </a>
        {% else %}
    <p></p>
    <a href="{% url 'add_favorite' pk=album.pk %}"> &#9734; Add to Favorites</a>
    <p></p>
    </p>
    {% endif %}
</div>
<a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>

<div>
    <h4>More albums by
        {% for artist in album.artists.all %}
        <div>
            <h3><a href="{% url 'by_artist' pk=artist.pk %}">{{artist}}</a> </h3>
        </div>
        {% endfor %}
    </h4>

    {% endblock %}