{% extends "base.html" %}
{% block content %}
<a href="{% url 'list_albums' %}">Return to Albums Page</a>

<div>
    <h1> {{album}}{% if album.favorite == True %}&#11088; {% endif %}</h1>
    {% for artist in album.artists.all %}
    <div>
        <h3>{{artist}}</h3>
    </div>
    {% endfor %}
    <div>
        <p>Added to database on: {{album.added_to_database_at}}</p>
    </div>
</div>
<div>
    <form action="{% url 'edit_album' pk=album.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Click to Favorite</button>
    </form>
</div>
<a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
<div>
    <h4>More albums by {{album.artist}}:</h4>

    {% for album in album.artist.albums.all %}
    <div>
        <a href="{% url 'album_info' pk=album.pk%}">{{album}}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}