{% extends "base.html" %}

{% block content %}
{% load static %}

<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<h1>All Albums </h1>

<div id="container">
    {% for album in albums %}

    <div>
        <div>
            <div class="album_card">
                <div>
                    <h2>{{album}} - <a href="{% url 'by_artist' pk=album.artist.pk%}">{{album.artist}}</a></h2>
                    {% if album.favorite == True %}
                    <h2>^ this is one of my favs </h2>
                    {% endif %}
                </div>


                <div>
                    <a href="{% url 'album_info' pk=album.pk %}"> Album Info</a>
                    <p></p>
                    <a href="{% url 'delete_album' pk=album.pk%}">Remove Album</a>
                    <p></p>


                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}