{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>All Albums </h1>
<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div id="container">
    {% for album in albums %}

    <div>
        <div>
            <div class="album_card">
                <h2>{{album.album_name}} - {{album.artist_name}}</h2>
                <div>
                    <a href="{% url 'album_info' pk=album.pk %}"> Click here for Album Info</a>
                </div>
                <div>
                    <a href="{% url 'delete_album' pk=album.pk%}">Remove Album</a>
                    <p></p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}